*{
        margin: 0%;
        padding: 0%;
}



/* INDEX PC */
.index{
        display: grid;
        background-color: #1d0000;
        overflow-x: hidden;
        grid-template-rows: 1fr 1fr 0,3fr 1fr 0,5fr;
        grid-template-columns: repeat(3,1fr);
        gap: 2px;
        grid-template-areas:  
        "nav nav nav"
        "tituloImagen tituloImagen tituloImagen"
        "redes redes redes"
        "mapa mapa mapa"
        "footer footer footer"
}

nav{ 
        grid-area: nav;
        display: flex;
        background-color: #b9b3b3f8;
        
}

nav .menu{
                grid-area: nav;
                display: flexbox;
                justify-content:end;
                margin-top: 145px;
                margin-left: 12px;
                font-size: 16px;
                text-decoration: none;
                font-family: 'Playfair Display', serif;

}

nav .menu:hover{
                color:darkcyan;
}

@keyframes apareceLogo{
                        0% {margin-left: 150px};
                        25%{margin-left: 250px;};
                        75%{margin-left: 300px;};
                        100%{margin-left: 352px};
}

nav .logo1{
                grid-area: nav;
                display: flexbox;
                margin-left: 352px;
                animation-name: apareceLogo;
                animation-duration: 5s;
}



h1{
        grid-area: tituloImagen;
        display: flex;
        justify-content: center;
        font-family: 'Merriweather', serif;
        color:#ffffff;
        font-size: 40px;
        text-decoration:underline;
        margin-top: 10px;
        margin-bottom: 10px
}

.imagenPrincipal{

        grid-area: tituloImagen;
        display: flex;
        justify-content: center;
        margin: 5px;
        width: 1348px ;
        height: 600px ;
        transform: translate(8px);
}

.tituloRedes{
        grid-area: redes;
        display: flex;
        justify-content: center;
        font-family: 'Merriweather', serif;
        color:#ffffff;
        font-size: 40px;
        text-decoration:underline;
        margin-top: 10px;
        margin-bottom: 10px
}

.redes{
        grid-area: redes;
        display: flex;
        justify-content: center;

}

.redes img {
        grid-area: redes;
        width: 60px;
        height: 60px;
        margin-top: 68px;
}

.redes img:hover{
                width: 140px;
                height: 140px;

}

#linkedin{
        grid-area: redes;
        width: 55px;
        height: 55px; 
}

#linkedin:hover{
                width: 140px;
                height: 140px;
}

a{
        text-decoration: none;
        color: #000000;
}
.mapa{
        grid-area: mapa;
        display: flex;
        justify-content: center;
        
}

.mapa iframe{
        grid-area: mapa;
        display: flexbox;
        width: 1344px ;
        height: 500px;
        margin-right: 10px
}

footer{
        grid-area: footer;
        display: flex;
        background-color: #1a1919f8;
}

.logoFooter{
        grid-area: footer;
        display: flexbox;
       margin-left: 875px;
       margin-top: 10px;

}

.info{
        grid-area: footer;
        display: flexbox;
        margin-top: 14px;
        margin-left: 8px;
        line-height: 30px;
        list-style-type: none;
        color: #ffffff ;
        font-family: 'Merriweather', serif;
        font-size: 13px;

}

/* PERFIL PC */
.perfil{
        display: grid;
        background-color: #1d0000;
        overflow-x: hidden;
        grid-template-rows: 1fr 0.5fr 1fr 0,5fr;
        grid-template-columns: repeat(3,1fr);
        gap: 2px;
        grid-template-areas:
        "nav nav nav"
        "titulo titulo titulo"
        "texto texto texto"
        "footer footer footer";
}

nav .menuPerfil{
                        grid-area: nav;
                        display: flex;
                        flex-direction: row;
                        margin-top: 145px;
                        margin-right: 40px;
                        font-size: 16px;
                        text-decoration: none;
                        font-family: 'Playfair Display', serif;
}
nav .menuPerfil .I{
                        padding-left: 5px;
}
nav .menuPerfil .I:hover{
                        color: darkcyan;
}
nav .menuPerfil .P{
                        padding-left: 5px;
}
nav .menuPerfil .P:hover{
                        color: darkcyan;
}
nav .menuPerfil .F{
                        padding-left: 5px;
}
nav .menuPerfil .F:hover{
                        color: darkcyan;
}
nav .menuPerfil .L{
                        padding-left: 5px;
}
nav .menuPerfil .L:hover{
                        color: darkcyan;
}
nav .menuPerfil .S{
                        padding-left: 5px;
}
nav .menuPerfil .S:hover{
                        color: darkcyan;
}
nav .menuPerfil .C{
                        padding-left: 5px;        
}
nav .menuPerfil .C:hover{
                         color: darkcyan;
}

nav .logo1{
        grid-area: nav;
        display: flexbox;
        margin-left: 352px;
}

.tituloPerfil{
                grid-area: titulo;
                display: flexbox;
                justify-content: center;
                padding-right: 210px;
                font-family: 'Merriweather', serif;
                color:#ffffff;
                font-size: 40px;
                margin-top: 10px;
                margin-bottom: 10px;
                text-decoration:underline;
}

.texto{
                grid-area: texto;
                display: flex;
                justify-content: center;
                padding-left: 50px;
                padding-right: 250px;
                font-family: 'Merriweather', serif;
                font-size: 29px;
                color: #ffffff;
}


/* TABLET*/
@media screen and (max-width: 768px){
/* INDEX */
.index{
        grid-template-columns:1fr 1fr 0,3fr 1fr 0,5fr; 
        grid-template-rows: (2,1fr);
        grid-template-areas:
        "nav nav"
        "tituloImagen tituloImagen"
        "redes redes"
        "mapa mapa"
        "footer footer"
}
nav{ 
                         width: 980px;
}

nav .menu{
                        margin-top: 66px;
                        font-size: 6px;
                        margin-left: 220px;
        
}
nav .logo1{
                        margin-left: 350px;
                        width: 220px;
                        margin-top: 10px;
} 
.tituloPrincipal{
                        font-size: 18px;
                        margin-right: 12px;
}
.imagenPrincipal{
                        width: 930px ;
                        height: 380px ;
                        

}
.tituloRedes{
                        font-size: 18px;
                        margin-right: 485px;
}
.redes {
                        display: flexbox;
                        margin-left: 398px;
                        justify-content: flex-start;
}
.redes img{
                        width: 45px;
                        height: 45px; 
}
#linkedin{
                        width: 40px;
                        height: 40px;
}
.mapa{
                        margin-right: 520px;
}
.mapa iframe{
                        width: 950px ;
                        height: 360px;
}

footer{
                         width: 980px;

}
.logoFooter{
                        margin-left: 675px;
                        margin-top: 5px;
}
.logoFooter img{        
                         width: 85px;     

}
.info{
                        margin-top: 10px;
                        margin-left: 10px;
                        line-height: 15px;
                        font-size: 7px;
}
 /*PERFIL*/
.perfil{
        grid-template-rows: 1fr 0.5fr 1fr 0,5fr;
        grid-template-rows: repeat(2,1fr);   
        grid-template-areas: 
        "nav nav"
        "titulo titulo"
        "texto texto"
        "footer footer"; 
}
nav .menuPerfil{
                        margin-top: 66px;
                        font-size: 6px;
                        margin-left: 101px;
}
nav .logo1{
                        margin-left: 280px;
                        width: 220px;
                        margin-top: 10px;

}

.tituloPerfil{
                        font-size: 18px;
                        margin-right: 480px;

}

.texto{
                        font-size: 14px;
                        margin-right: 520px;
                        margin-left: 10px;

}

.logoFooter{
                        margin-left: 510px;
                        margin-top: 5px;
}
.logoFooter img{        
                        width: 85px;     

}
.info{
                        margin-top: 10px;
                        margin-left: 10px;
                        line-height: 15px;
                        font-size: 7px;
}
}
/* CELULAR*/
@media screen and (max-width: 375px) {
/* INDEX */  
.index{
                        grid-template-columns: repeat(5,1fr);
                        grid-template-areas: 
                        "nav"
                        "tituloImagen"
                        "redes"
                        "mapa"
                        "footer"
}
.menu{
                         font-size: 4px;
}
.logo1{
                        width: 250px;
                        margin-right: 20px;                     
} 
.tituloPrincipal{
                        font-size: 12px;
                        margin-right: 810px;
}                       
.imagenPrincipal{
                        width: 1000px;
}
.tituloRedes{
                        font-size: 12px;
                        margin-right: 810px;
}

.mapa iframe{
                        width: 1220px;
                        height: 120px;
}
.logoFooter{
                        margin-left: 690px;
                        margin-top: 12px;
}
.logoFooter img{
                        width: 78px; 
}
/* PERFIL */
.perfil{
        grid-template-rows: 1fr 0.5fr 1fr 0,5fr;
        grid-template-areas:
        "nav"
        "titulo"
        "texto"
        "footer"
}
nav .menuperfil{
                        margin-left: 500px
}
.logo1{
                        width: 50px;
                        margin-right: 1px;   
} 
.tituloPerfil{
                        margin-right: 10px;
}
.texto{
                        margin-right: 80px;
                        margin-left: 90px;
}
.logoFooter{
                        margin-left: 515px;
}
}


