*{
        margin: 0%;
        padding: 0%;
}

/*General de los 6 HTML*/
body{
        background-color: #1d0000;
        overflow-x: hidden;
}
.menu{
        display: flexbox;
        justify-content:end;
        margin-top: 10px;
        margin-left: 960px;
        font-size: 16px;
        text-decoration: none;
        font-family: 'Playfair Display', serif;
}
.row .menu a:hover{
        color:darkcyan;
}
@keyframes apareceLogo{
                0% {margin-left: 100px};
                25%{margin-left: 200px;};
                75%{margin-left: 300px;};
                100%{margin-left: 355px};
}

.row .logo1{
        display: flexbox;
        margin-left: 355px;
        animation-name: apareceLogo;
        animation-duration: 5s;
}

footer{
        background-color: #1a1919f8;
}
.logoFooter{
       margin-left: 850px;
       margin-top: 20px;
}
.info{
        margin-top: 20px;
        text-align:start;
        line-height: 30px;
        color: #ffffff ;
        font-family: 'Merriweather', serif;
        font-size: 13px;
}

li{
        list-style-type: none;
}
.titulos{
                display: flex;
                justify-content: center;
                font-family: 'Merriweather', serif;
                color:#ffffff;
                font-size: 40px;
                margin-top: 10px;
                margin-bottom: 10px;
                text-decoration:underline;
}

/*PERFIL-FAMILIA-LABORAL-SUCECIONES */
.texto{
        display: flex;
        justify-content: center;
        margin-left: 35px;
        margin-right: 35px;
        font-family: 'Merriweather', serif;
        font-size: 29px;
        color: #ffffff;
}

/* INDEX*/

nav{ 

        display: flex;
        background-color: #b9b3b3f8;
}
.imagenPrincipal{
        display: flex;
        justify-content: center;
        margin: 5px;
        width: 1800px ;
        height: 600px ;
        transform: translate(-2px);
}
.row{
        display: flex;
        justify-content: center;
}

.row .insta {
        width: 60px;
        height: 60px;
}

.row .face{
         width: 60px;
        height: 60px;
}

.row .insta:hover{
                width: 140px;
                height: 140px;

}

.row .face:hover{
        width: 140px;
        height: 140px;

}

#linkedin{
        width: 55px;
        height: 55px; 
}

#linkedin:hover{
                width: 140px;
                height: 140px;
}
a{
        text-decoration: none;
        color: #000000;
}
.mapa{
        display: flex;
        justify-content: center;      
}
.mapa iframe{
        display: flexbox;
        width: 1900px ;
        height: 600px;
        margin-right: 10px;
        transform: translate(4px);
}
/*FAMILIA*/
.subMenuFamilia li{
        display: flex;
        color: #ffffff;
        list-style: none;
        font-size: 22px;
        margin-top: 90px;
        margin-left: 78px;
        margin-right: 90px;
        margin-bottom: 95px;
        font-family: 'Merriweather', serif;
}

/* TABLET*/
@media screen and (min-width: 768px) and (max-width: 1023px){
/* INDEX*/

.menu{

                        font-size: 6px;
        
}
.logo1{
                        width: 220px;
 
} 

.imagenPrincipal{
                        width: 250px ;
                        height: 150px ;
                        

}
.titulos{
                        text-align: center;
                        font-size: 12px;

}

.redes .insta{
                        width: 42px;
                        height: 42px; 
}
.redes .face{
                        width: 39px;
                        height: 39px;
}
#linkedin{
                        width: 35px;
                        height: 35px;
}

.mapa iframe{
                         width: 350px ;
                         height: 150px ;        
}

footer .logoFooter img{        
                         width: 60px;     

}
footer .info{
                        margin-top: 10px;
                        line-height: 11px;
                        font-size: 6px;
}

 /*PERFIL*/

nav .menuPerfil{

                        font-size: 6px;

}
nav .logo1{
 
                        width: 220px;
                        margin-top: 10px;

}

.tituloPerfil{
                        font-size: 18px;

}

.texto{
                        font-size: 14px;
}

.logoFooter{
                        margin-top: 5px;
}
.logoFooter img{        
                        width: 85px;     

}
.info{
                        margin-top: 10px;
                        line-height: 15px;
                        font-size: 7px;
}
}
