*{
        margin: 0%;
        padding: 0%;
}

/*General de los 6 HTML*/
body{
        background-color: #1d0000;
        overflow-x: hidden;
}
nav{ 

        display: flex;
        background-color: #b9b3b3f8;
}
.menu{
        display: flexbox;
        justify-content:end;
        margin-top: 10px;
        margin-left: 1140px;
        font-size: 16px;
        text-decoration: none;
        font-family: 'Playfair Display', serif;
}
.row .menu a:hover{
        color:darkcyan;
}
@keyframes apareceLogo{
        0% {margin-left: 100px};
        25%{margin-left: 250px;};
        75%{margin-left: 320px;};
        100%{margin-left: 370px};
}

.row .logo1{
        display: flexbox;
        margin-left: 370px;
        animation-name: apareceLogo;
        animation-duration: 5s;
}

footer{
        background-color: #1a1919f8;
        margin-top: 21px;
}
.logoFooter{
       margin-left: 990px;
       margin-top: 20px;
}
.info{
        margin-top: 20px;
        text-align:start;
        line-height: 30px;
        color: #ffffff ;
        font-family: 'Merriweather', serif;
        font-size: 13px;
}

li{
        list-style-type: none;
}
.titulos{
        display: flex;
        justify-content: center;
        font-family: 'Merriweather', serif;
        color:#ffffff;
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-decoration:underline;
}

/*PERFIL-FAMILIA-LABORAL-SUCECIONES */
.texto{
        display: flex;
        justify-content: center;
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 21px;
        font-family: 'Merriweather', serif;
        font-size: 32px;
        color: #ffffff;
}

/* INDEX*/
.imagenPrincipal{
        display: flex;
        justify-content: center;
        margin: 5px;
        width: 1800px ;
        height: 600px ;
        transform: translate(-2px);
}
.row{
        display: flex;
        justify-content: center;
}

.row .insta {
        width: 60px;
        height: 60px;
}

.row .face{
         width: 60px;
        height: 60px;
}

.row .insta:hover{
        width: 140px;
        height: 140px;

}

.row .face:hover{
        width: 140px;
        height: 140px;

}

#linkedin{
        width: 55px;
        height: 55px; 
}

#linkedin:hover{
        width: 140px;
        height: 140px;
}
a{
        text-decoration: none;
        color: #000000;
}
.mapa{
        display: flex;
        justify-content: center;      
}
.mapa iframe{
        display: flexbox;
        width: 1900px ;
        height: 600px;
        margin-right: 10px;
        transform: translate(4px);
}
/*FAMILIA*/
.subMenuFamilia li{
        display: flex;
        color: #ffffff;
        list-style: none;
        font-size: 22px;
        margin-top: 90px;
        margin-left: 78px;
        margin-right: 90px;
        margin-bottom: 95px;
        font-family: 'Merriweather', serif;
}

/*LABORAL*/

.subMenuLaboral li{
        display: flex;
        color: #ffffff;
        list-style: none;
        font-size: 22px;
        margin-top: 90px;
        margin-left: 100px;
        margin-right: 220px;
        margin-bottom: 95px;
        font-family: 'Merriweather', serif;  
}

/*SUCECIONES*/

.subMenuSuceciones li{
        display: flex;
        color: #ffffff;
        list-style: none;
        font-size: 22px;
        margin-top: 90px;
        margin-left: 180px;
        margin-right: 220px;
        margin-bottom: 95px;
        font-family: 'Merriweather', serif;  
}

/*CONTACTO*/

.datos{
        text-align: center;
        font-family: 'Merriweather', serif;
        color:#ffffff;
        margin-left: 10px;

}
.consulta{

        margin-top: 20px;
        
}
textarea{
        width: 900px;
        height: 300px; 
}

button{
        width: 60px ;
        height: 30px;
}


/* TABLET*/
@media screen and (min-width: 768px) and (max-width: 1023px){

 /* GENERAL DE LOS 6 HTML*/

.container-fluid{
        overflow: hidden;
}
.menu{
        font-size: 10px;
        margin-left: 520px;
}

@keyframes apareceLogo{
        0% {margin-left: 100px};
        25%{margin-left: 150px;};
        75%{margin-left: 200px;};
        100%{margin-left: 250px};
}

.row .logo1{
        width: 250px;
        margin-left: 250px;
} 
.titulos{
        text-align: center;
        font-size: 23px;
}

footer{
        display: flex;
        align-items:stretch;
}
footer .logoFooter{
        margin-top: 10px;
        margin-left: 500px;
 }

 .logoFooter img{
         
         width: 80px;
 }

 .info{
        margin-left: 12px;
         margin-top: 14px;
         line-height: 12px;
         font-size: 6px;
 }

/*PERFIL-FAMILIA-LABORAL-SUCECIONES */

.texto{
        font-size: 20px;
}

/* INDEX */
.imagenPrincipal{
        width: 800px ;
        height: 350px ;
}
.redes .insta{
        width: 42px;
        height: 42px; 
}
.redes .face{
        width: 39px;
        height: 39px;
}
#linkedin{
        width: 35px;
        height: 35px;
}

.mapa iframe{
        width: 800px ;
        height: 350px ;      
}

}
/*CELULAR*/

@media screen and (min-width: 425px) and (max-width: 767px) {


 /* GENERAL DE LOS 6 HTML*/
.container-fluid{
        overflow: hidden;
}
.menu{
        font-size: 8px;
        margin-left: 210px;
}

@keyframes apareceLogo{
        0% {margin-left: 50px};
        25%{margin-left: 75px;};
        75%{margin-left: 100px;};
        100%{margin-left: 135px};
}

.row .logo1{
        width: 180px;
        margin-left: 135px;
} 

.titulos{
        font-size: 16px;
        text-align: center;      
}

footer .logoFooter{
        margin-top: 10px;
        margin-left: 100px;
 }

 .logoFooter img{   
         width: 60px;
 }

 .info{
         margin-right: 90px;
         margin-top: 14px;
         line-height: 9px;
         font-size: 6px;
 }

 /*PERFIL-FAMILIA-LABORAL-SUCECIONES */

.texto{
        font-size: 15px;
        margin-top: 5px;
}

 /*INDEX*/

.imagenPrincipal{
        width: 450px ;
        height: 200px ;
}
.mapa iframe{
        width: 450px ;
        height: 250px ;      
}

.redes .insta{
        width: 32px;
        height: 32px; 
}
.redes .face{
        width: 32px;
        height: 32px;
}
#linkedin{
        width: 27px;
        height: 27px;
}
}