
/* INDEX*/
.imagenPrincipal{
    display: flex;
    justify-content: center;
    margin: 5px;
    width: 1800px ;
    height: 600px ;
    transform: translate(-2px);
}

$redes: (
        ancho: 60px,
        largo: 60px,
        anchoArriba: 140px,
        largoArriba: 140px,
        ancholinke: 55px,
        largolinke: 55px,
);
.row{
    display: flex;
    justify-content: center;
.insta{
        width: map-get($redes,ancho);
        height: map-get($redes,largo);
        &:hover{
            width: map-get($redes,anchoArriba);
            height: map-get($redes,largoArriba);
        }
    }
.face{
    width: map-get($redes,ancholinke);
    height: map-get($redes,largolinke);
    &:hover{
        width: map-get($redes,anchoArriba);
        height: map-get($redes,largoArriba);
    }
}
#linkedin{
    width: map-get($redes,ancho);
    height: map-get($redes,largo);
    &:hover{
        width: map-get($redes,anchoArriba);
        height: map-get($redes,largoArriba);
}
}
a{
    text-decoration: none;
    color: #000000;
}
}
@mixin mapa ($ancho,$largo,$margen) {
    width: $ancho;
    height: $largo;
    margin-right: $margen;
}
.mapa{
    display: flex;
    justify-content: center;      
iframe{
    display: flexbox;
    @include mapa (1900px,600px,10px);
    transform: translate(4px);
}
}