@import "index";
@import "variables";
@import "subMenu";
@import "contacto";

*{
    margin: 0%;
    padding: 0%;
}

/*General de los 6 HTML*/
body{
    background-color: $colorprincipal;
    overflow-x: hidden;
}
nav{ 
    display: flex;
    background-color: $colornav;
.menu{
    display: flexbox;
    justify-content:end;
    margin-top: 10px;
    margin-left: 1140px;
    font-size: 16px;
    text-decoration: none;
    font-family: $fuenteNav;
a:hover{
    color:darkcyan;
}
}
.logo1{
        display: flexbox;
        margin-left: 370px;
        animation-name: apareceLogo;
         animation-duration: 5s;  
 @keyframes apareceLogo{
        0% {margin-left:100px};
        25%{margin-left:250px};
        75%{margin-left:320px};
        100%{margin-left:370px};
}
}
}
footer{
    background-color: $colorfooter;
    margin-top: 21px;
.logoFooter{
   margin-left: 990px;
   margin-top: 20px;
}
.info{
    margin-top: 20px;
    text-align:start;
    line-height: 30px;
    color: #ffffff ;
    font-family: $fuentePrincipal;
    font-size: 13px;
li{
    list-style-type: none;
}
}
}
.titulos{
    display: flex;
    justify-content: center;
    font-family: $fuentePrincipal;
    color:$colortitulos;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration:underline;
}

/*PERFIL-FAMILIA-LABORAL-SUCECIONES */
.texto{
    @extend .titulos;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 21px;
    font-size: 32px;
    text-decoration: none;
}

/* TABLET*/
@media screen and (min-width: 768px) and (max-width: 1023px){

    /* GENERAL DE LOS 6 HTML*/
   
.container-fluid{
        body{
           overflow-x: hidden;
}
}   
nav{
    .menu{
           font-size: 10px;
           margin-left: 530px;
}
}
@keyframes apareceLogo{
           0% {margin-left: 100px};
           25%{margin-left: 150px;};
           75%{margin-left: 200px;};
           100%{margin-left: 250px};
}
.row {
     .logo1{
           width: 250px;
           margin-left: 250px;
} 
}
.titulos{
           text-align: center;
           font-size: 23px;
}
   
footer{
           display: flex;
           align-items:stretch;
}
footer{
    .logoFooter{
           margin-top: 10px;
           margin-left: 500px;
    img{
                
             width: 80px;
}
}    
    .info{
           margin-left: 12px;
            margin-top: 14px;
            line-height: 12px;
            font-size: 6px;
}
}
   
   /*PERFIL-FAMILIA-LABORAL-SUCECIONES */
   
.row{
    .texto{
           font-size: 20px;
    }
}
   
   /* INDEX */
.imagenPrincipal{
           width: 800px ;
           height: 350px ;
  }
.redes{
   .insta{
           width: 42px;
           height: 42px; 
   }
   .face{
           width: 39px;
           height: 39px;
   }
   #linkedin{
           width: 35px;
           height: 35px;
   }
}

.mapa{

   iframe{
           width: 800px ;
           height: 350px ;      
   }
   } 

/*FAMILIA*/
.subMenuFamilia li{
    font-size: 15px;
    margin-top: 70px;
    margin-left: 60px;
    margin-right: 70px;
    margin-bottom: 95px;
}

/*LABORAL*/

.subMenuLaboral li{
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 90px;
    margin-right: 80px;
    padding-left: 100px;
}

/*SUSECIONES*/

.subMenuSuceciones li {
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 190px;
    margin-right: 200px;
}

/*CONTACTO*/

form{
    textarea{
        width: 400px;
        height: 150px; 
    }
}
}

/*CELULAR*/

@media screen and (min-width: 325px) and (max-width: 767px) {


    /* GENERAL DE LOS 6 HTML*/
.container-fluid{
        body{
           overflow-x: hidden;
}
}
nav{
   .menu{
           font-size: 8px;
           margin-left: 80px;
   }
}

.row{
    .logo1{
           width: 180px;
           margin-left: 80px;
           animation: none;
   } 
}
   
.row{
    .titulos{
           font-size: 11px;
           text-align: center;      
   }
}
   
footer{
     .logoFooter{
           margin-top: 10px;
           margin-left: 48px;
        img{   
            width: 60px;
        }
    }
    .info{
            margin-right: 92px;
            margin-top: 14px;
            line-height: 9px;
            font-size: 4px;
    }
}
   
    /*PERFIL-FAMILIA-LABORAL-SUCECIONES */
   
   .texto{
           font-size: 15px;
           margin-top: 5px;
   }
   
    /*INDEX*/
   
.imagenPrincipal{
        width: 328px ;
        height: 160px ;
}
.mapa{
       iframe{
        width: 328px ;
        height: 160px ;     
   }
}
.redes{
 .insta{
        width: 32px;
        height: 32px; 
   }
   .face{
           width: 32px;
           height: 32px;
   }
   #linkedin{
           width: 27px;
           height: 27px;
   }
}

/*FAMILIA*/
.subMenuFamilia li{
    font-size: 11px;
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 95px;
}

/*LABORAL*/

.subMenuLaboral li{
    text-align: center;
    font-size: 10px;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 55px;
    margin-right: 2px;
    padding-right: 2px;
}

/*SUSECIONES*/

.subMenuSuceciones li {
    font-size: 10px;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 80px;
    margin-right: 80px;
    padding-right: 46px;
}

/*CONTACTO*/

form{
    .row{
    .datos{
        font-size: 8px;
    }
       input{
           width: 50px;
           height: 12px;
       }
}

textarea{
        width: 200px;
        height: 100px; 
    }
}
}




